<section id="task" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                <h2 class="section-heading text-center">Отборочное задание</h2>
                <hr class="primary">
<p><b>Задача 1.</b> Сезонность преступности, то есть колебания частоты совершения определенных преступлений в зависимости от времени года, –  одна из важных проблем современной криминологии. В то время как одни преступления не обладают четким сезонным трендом, другие могут демонстрировать  хорошо заметные сезонные колебания. 
Ниже приведены реальные графики распределения двух преступлений (А и Б), обладающих выраженной сезонностью.</p> 
<center>
<img src="/img/crime_a.png" vspace="20" width="600">
<img src="/img/crime_b.png" width="600">
</center>
<br>
<p>Эти графики построены на реальных данных о преступлениях в России за 2009-2013 годы. Ниже приведён список из шести составов преступлений, предусмотренных Уголовным Кодексом РФ. Предположите и обоснуйте, сезонность какого преступления из списка соответствует графику A, а какого – графику B.
<ul>
<li>Статья 105 ч. 1 УК РФ.</li>
<li>Статья 111 ч. 4 УК РФ.</li>
<li>Статья 159 ч. 1 УК РФ.</li>
<li>Статья 161 ч. 1 УК РФ.</li>
<li>Статья 166 ч. 1 УК РФ.</li>
<li>Статья 327 ч. 3 УК РФ.</li>
</ul>
</p>
<p><b>Задача 2.</b> Из американских исследований криминологии 20 века известно, что количество убийств на душу населения в сельской местности в среднем гораздо меньше, чем в городе. Справедливо ли это для современной России и почему? Для решения задачи за количество убийств можно считать количество осужденных за убийство (которое есть в статистических данных Судебного департамента ВС РФ).</p>
<p><b>Задача 3.</b> Судебный департамент при Верховном суде сообщает, что за 2016 год судами рассмотрено 3 116 800 дел о взыскании налогов и сборов. Лишь менее, чем в 1,8% случаев суды отказали в удовлетворении требования. Но при этом в 1738 делах, в которых Федеральная Налоговая Служба выступала административным ответчиком, она проиграла (требования истца/заявителя были полностью или частично удовлетворены) в 66,7% случаев. В целом же граждане в 2016 году выступали административными истцами 181 569 раз и проиграли в 27,8% случаев. Объясните и аргументируйте, почему суды в одном случае почти всегда встают на сторону государства, а в других – чаще на сторону граждан.</p>
<p><b>Задача 4.</b> В российском уголовном процессе есть процессуальная фигура, которая является ключевой для системы уголовного преследования, и при этом уникальной (то есть нигде, кроме как в России, не встречающейся) среди всех мировых юрисдикций. Предположите, что это за фигура.</p>
<p><b>Задача 5.</b> Можно выделить два основных подхода к тому, как должно быть организовано правосудие. В рамках первого подхода все подразделения суда должны быть расположены как можно ближе друг к другу и в одном здании (модель «дворца правосудия»). Согласно другому подходу, разные подразделения суда должны занимать разные здания и быть разнесены как можно дальше друг от друга, образовывая «кампус правосудия». Какой из этих подходов кажется вам более предпочтительным и почему?</p>
<p><b>Задача 6.</b> В Высших и Конституционных судах почти всех стран мира заявителям чаще всего удаётся мобилизовать суд по причине ущемления трудовых или религиозных прав. Как вы думаете, почему?</p>
<br>


                <h2 class="section-heading text-center">Как делать отборочное задание?</h2>
                <hr class="primary">
<p>Отнеситесь к отборочному заданию как эссе в свободном формате. Идеальное решение отборочного задания должно быть развёрнутым рассуждением, содержащим интерпретацию (ваше понимание) задания, вашу позицию, аргументацию и вывод. Аргументация не должна строиться исключительно на логических предположениях и отсылках к законодательству, а должна отсылать к существующим исследованиям, подходам и данным, поэтому в вашем ответе должно быть хотя бы несколько ссылок на литературу. Замечательно, если у вас получится рассказать, что по этому поводу уже говорили и писали. Особенно ценно, если вы попробуете самостоятельно найти и проанализировать данные, которые подтвердят вашу позицию. Такими данными может быть криминальная и судебная статистика, результаты опросов общественного мнения или что-то еще.</p>
<p>Как искать существующие исследования? Обычно это делают через библиографические системы, такие, как Google Scholar, Web of Science или JSTOR. Последние две, к сожалению, платные и требуют подписки, которая есть у многих университетов России и мира. Многие полезные статьи с исследованиями и обзорами написаны на английском языке. Читать их может быть сложнее, но зачастую они интереснее и более содержательно насыщенны, чем статьи на русском языке.</p>
<p>Итак, для выполнения отборочного задания нужно выбрать любые две задачи из списка выше, для каждой из них дать развёрнутый ответ, и каждый ответ должен быть размером до 1000 слов. Удачи!</p>

            </div>
        </div>
    </div>
    </div>
</section>
