<section id="task" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                <h2 class="section-heading text-center">Отборочное задание</h2>
                <hr class="primary">
<p><b>Задача 1.</b> В 2017-2018 Институт проблем правоприменения проводил исследование работы правоохранительной и судебной системы Республики Казахстан. Одним из результатов работы стал анализ дезагрегированных данных о всех зарегистрированных преступлениях в Республике за 2016 год. Наибольший интерес представили графики того, как принятие процессуальных решений распределено по времени. Эти графики представлены ниже. Что, по Вашему мнению, могут сказать эти графики о специфике работы уголовной юстиции Республики, и какие выводы из них можно сделать?
<p>
</p>
<center>
<img src="/img/2019/kazakhstan_1.png" vspace="20" style='width:80%;' border="0" >
<img src="/img/2019/kazakhstan_2.png" style='width:80%;' border="0" >
</center>
<br>
<p><b>Задача 2.</b> Cohen & Felson (1979) полагают, что повседневные практики людей определяют их потенциальное криминальное поведение. Они исходят из того, что любое преступление – это сочетание трех ключевых элементов: мотивированного злодея, подходящей жертвы или цели, и отсутствия внешних сдерживающих факторов. Взгляните на графики ниже, отображающие суточные временные циклы двух социально-профессиональных групп убийц. Как Вы думаете, что за преступники отображены на графике А, и что за преступники - на графике Б? Объясните свой выбор в коротком тексте.</p>
Cohen, L. E., & Felson, M. (1979). <i>Social change and crime rate trends: A routine activity approach.</i> American sociological review, 588-608. <a href="https://www.jstor.org/stable/pdf/2094589.pdf">PDF</a>.
<center>
<img src="/img/2019/crime_a.png" vspace="20" style='width:80%;' border="0" >
<img src="/img/2019/crime_b.png" style='width:80%;' border="0" >
</center>
<br>
<p><b>Задача 3.</b> В январе 2019 года Дмитрий Медведев объявил о старте «регуляторной гильотины». Суть этой меры заключается в борьбе с чрезмерной проверочной нагрузкой на бизнес с помощью удаления избыточных, устаревших или вредных требований. Для этого пересматриваются и отменяются все существующие в настоящее время нормативные акты в сфере контроля и надзора, включая ведомственные региональные приказы, письма и инструкции. Трудоёмкая работа по пересмотру требований ляжет на органы исполнительной власти федерального уровня. Как и в случае с другими реформами, ФОИВы могут не понять или даже саботировать работу по реформе. Предположите, какими способами органы исполнительной власти могут саботировать регуляторную гильотину, и какие решения офис реформы может предпринять, чтобы это выявить.</p>
<p><b>Задача 4.</b> В России <a href="https://pravo.ru/review/view/124276/">нередко</a> говорят о том, что значительная часть нагрузки судов приходится не необоснованные иски и заявления, которые граждане подают в суды общей юрисдикции по гражданским и административным делам. Для того, чтобы таких исков стало меньше предлагаются специальные меры. Оцените пожалуйста, используя статистические данные Судебного департамента, насколько можно было бы снизить нагрузку на суды, используя такие меры (минимум и максимум). Обоснуйте свой ответ.</p>

                <h2 class="section-heading text-center">Как выполнять отборочное задание?</h2>
                <hr class="primary">
<p>Отнеситесь к отборочному заданию как к эссе в свободном формате. Идеальное решение отборочного задания должно быть развёрнутым рассуждением, содержащим интерпретацию (ваше понимание) задания, вашу позицию, аргументацию и вывод. Аргументация не должна строиться исключительно на логических предположениях и отсылках к законодательству, а должна отсылать к существующим исследованиям, подходам и данным, поэтому в вашем ответе должно быть хотя бы несколько ссылок на литературу. Замечательно, если у вас получится рассказать, что по этому поводу уже говорили и писали. Особенно ценно, если вы попробуете самостоятельно найти и проанализировать данные, которые подтвердят вашу позицию. Такими данными может быть криминальная и судебная статистика, результаты опросов общественного мнения или что-то еще.</p>
<p>Как искать существующие исследования? Обычно это делают через библиографические системы, такие, как Google Scholar, Web of Science или JSTOR. Последние две, к сожалению, платные и требуют подписки, которая есть у многих университетов России и мира. Многие полезные статьи с исследованиями и обзорами написаны на английском языке. Читать их может быть сложнее, но зачастую они интереснее и более содержательно насыщенны, чем статьи на русском языке.</p>
<p>Итак, для выполнения отборочного задания нужно выбрать любые две задачи из списка выше, для каждой из них дать развёрнутый ответ, и каждый ответ должен быть размером до 1000 слов. Удачи!</p>

            </div>
        </div>
    </div>
    </div>
</section>
